@page "/"
@using ImageSus.Data;
@inject ImageService ImageService;

<div class="page">
    <h1 class="center">Which image is not real?</h1>
    <div class="images center">
        @foreach (var image in @images)
        {
            <ImageFrame Link=@image.Link IsSus=@image.IsSus/>
        }
    </div>
    <button @onclick="Reload" class="button center">New Set</button>
</div>

@code {
    private Image[]? images = new Image[]{};

    protected override async Task OnInitializedAsync()
    {
        images = await ImageService.GetImageAsync();
    }

    private void Reload()
    {
        images = ImageService.GetImageAsync().Result;
        StateHasChanged();
    }
}