@page "/"
@using ImageSus.Data;
@inject ImageService ImageService;

<h1 class="">Which image is not real?</h1>
<div class="images">
    @foreach (var image in @images)
    {
        <ImageFrame Link=@image.Link IsSus=@image.IsSus/>
    }
    <button @onclick="Reload">New Set</button>
</div>


<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private Image[]? images = new Image[]{};

    protected override async Task OnInitializedAsync()
    {
        images = await ImageService.GetImageAsync();
    }

    private void Reload()
    {
        images = ImageService.GetImageAsync().Result;
        StateHasChanged();
    }
}