@page "/"
@using ImageSus.Data;
@inject ImageService ImageService;

<h1 class="">Which image is not real?</h1>
<div class="images">
    @foreach (var image in @SussyImageService.LoadedImages)
    {
        <ImageFrame Link=@image.Link IsSus=@image.IsSus/>
    }
    <button @onclick="Reload">New Set</button>
</div>
@code {
    protected override async Task OnInitializedAsync()
    {
        await SussyImageService.LoadNewImageSet();
    }

    protected void OnImageClick(Image image)
    {
        
    }

@if (images == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var image in images)
    {
        <img src="@image.Link" width="400" height="400" style="object-fit: cover;"/>
    }
}

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private Image[]? images;

    protected override async Task OnInitializedAsync()
    {
        images = await ImageService.GetImageAsync();
    }
}

    protected async void Reload()
    {
        SussyImageService.LoadedImages.Select(s => {Console.WriteLine(s.Id); return 1;});
        Console.WriteLine("Reload");
        Console.WriteLine(SussyImageService.LoadedImages.Length);
        await SussyImageService.LoadNewImageSet().ContinueWith(t => StateHasChanged());
    }
}